.popup__submit_disabled {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .2);
  color: rgba(0, 0, 0, .2);
  cursor: not-allowed;
}

.popup__submit_disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}
